
dy
{
background-image: url("http://www.cs.rochester.edu/u/jbigham/courses/210/assignments/1/silverware.jpg");
}
h1
{
color:#A4A400;
text-align:center;
font-family:Century;
background-color:#F0F0F0;
text-decoration:underline;
font-size:22pt;
font-weight:bold;
letter-spacing: 0.2em;
}

h2
{
color:#A4A400;
text-align:left;
font-family:Century;
background-color:#F0F0F0;
text-decoration:underline;
font-size:18pt;
font-weight:normal;
letter-spacing: 0.2em;
}

ul
{
font-family:Georgia;
font-size:11pt;
color:#404040;
list-style-image:url("http://www.cs.rochester.edu/u/jbigham/courses/210/assignments/1/pie_icon.gif");
}

ol
{
font-family:Georgia;
font-size:11pt;
color:#404040;
}

blockquote
{
font-family:Georgia;
font-size:11pt;
font-style:italic;
color:#404040;
background-color:#FFFFC8;
}

#hello
{
list-style-type:none;
padding:0;
margin-left=0;

}
a
{
font-family:Georgia;
font-size:11pt;
color:#404040;
}
     
